.body {
  background-color: rgb(15, 15, 15);
  color: rgb(241, 234, 234);
  font-family: 'Poppins', sans-serif;
}

.btn {
  position: absolute;
  width: 25%;
  top: 200px;
  left: 430px;
  right: 50px;
  color: rgb(238, 229, 229);
  background-color: rgb(5, 4, 4);
  opacity: .8;
  border: 1px solid rgb(53, 51, 51);
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.card-header {
  position: relative;
  width: 100%;
  height: 100%;
}

.display_card {
  position: absolute;
  top: 200px;
  left: 100px;
  right: 100px;
  color: rgb(238, 229, 229);
  background-color: rgb(12, 12, 12);
  opacity: .8;
  border: 1px solid rgb(53, 51, 51);
  border-radius: 5px;
  padding: 20px;
  font-size: 25px;
  text-indent: 30px;
  font-weight: bold;
}

.endBtn {
  width: 50%;
  height: 50px;
  position: absolute;
  top: 300px;
  left: 500px;
  color: black;
  background-color: tan;
  opacity: .8;
  border: 1px solid rgb(53, 51, 51);
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.first-txt {
  position: absolute;
  top: 17px;
  left: 50px;
  color: tan;
}

.form-control {
  position: absolute;
  text-decoration: solid;
  color: rgb(8, 6, 6);
  background-color: tan;
  left: 350px;
  top: 220px;
  border-radius: 15px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  opacity: 0.8;
}

.form-control2 {
  position: absolute;
  color: rgb(8, 6, 6);
  background-color: tan;
  top: 220px;
  right: 430px;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 150px;
  opacity: 0.8;
  font-size: 15px;
  font-weight: bold;
}

h3, .counter {
  position: absolute;
  top: 20px;
  right: 20px;
  color: rgb(238, 229, 229);
  background-color: rgb(12, 12, 12);
  opacity: .6;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.highScore {
  position: absolute;
  top: 330px;
  left: 20px;
  color: rgb(238, 229, 229);
  background-color: rgb(12, 12, 12);
  opacity: .6;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

img {
  position: relative;
}

.list-group {
  color: rgb(238, 229, 229);
  list-style: bullet;
  top: 100px;
  right: 50px;
}

/* .list-group-bullet {
  color: rgb(238, 229, 229);
  list-style: bullet;
  top: 100px;
  right: 50px;
  color: rgb(238, 229, 229);
  background-color: rgb(12, 12, 12);
  opacity: .6;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
}

.listClass {
  top: 400px;
  margin-top: auto;
  right: 40px;
  color: rgb(238, 229, 229);
  background-color: rgb(65, 63, 63);
  opacity: .6;
} */

.questionsClass {
  top: 50px;
  left: 50px;
  color: rgb(238, 229, 229);
  background-color: rgb(12, 12, 12);
  font-size: 25px;
  font-weight: bold;
}

.savedName {
  position: absolute;
  list-style-type: none;
  width: 15%;
  height: 2ch;
  border-radius: 12px;
  bottom: 150px;
  left: 40px;
  color: rgb(10, 4, 4);
  background-color: tan;
  opacity: .6;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
}

.savedScore {
  position: absolute;
  list-style-type: none;
  width: 15%;
  height: 2ch;
  border-radius: 12px;
  bottom: 150px;
  left: 260px;
  color: black;
  background-color: tan;
  opacity: .6;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
}

/* Cards are split into two columns at 992px or smaller */
@media screen and (max-width: 992px) {
  .card {
    width: 50%;
  }
  /* Change the header color */
  .card-header {
    background: #bba214;
  }
}

/* Cards are stacked on top of each other at 768px or smaller */
@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
  /* Change the header color */
  .card-header {
    background: #b9a152;
  }
}

@media screen and (max-width: 719px) {
  .form-control {
    width: 30%;
  }
  /* Change the header color */
  .form-control2 {
    width: 30%;
  }
}